@charset "UTF8";
@import url('https://fonts.googleapis.com/css?family=Oswald:500'); 
                        /*  AREA DE TESTES */
     
 body {
        
         box-sizing: border-box;
         
     }  
     /*Conf. todos os H1*/
h1 {
    text-align: center;
}
    /* Conf. todos os Paragrafos */
p  {
        text-align: center;
        font-size: 13pt;      
}
   /*  Conf. todos os Spans */
span {
    font-size: 13pt;      
}
     /*tirando o SUBLINHADO do link*/
a:link { 
    text-decoration:none;
    }
    a:visited {
    text-decoration:none;
    }
    a:hover {
    text-decoration:underline;
    }
    /* Conf. Todas as classes a parti daqui */
.titulo {
       text-transform: uppercase;
}
.flutuadores  {
       font-size: 13pt;
       width: 40%;
       display: flex;
       margin-left: 30%;
       
}
.exemplo {
    background-color: black;
    width: 40%;
    border-radius: 10px;
    color: azure;
    padding: 15px;
    display: flex;
    margin-left: 30%;
    border: 3px solid rgba(255, 255, 255, .5);

}
.porquinho {
    width: 40%;
    border: 2px solid black;
    display: flex;
    margin-left: 30%;
    margin-top: 20px;
    padding: 15px;
}
.img_porquinho { 
    float: right; 
    }
.exemplo_melhor {
    background-color: black;
    width: 40%;
    border-radius: 10px;
    color: azure;
    padding: 15px;
    display: flex;
    margin-left: 30%;
    border: 3px solid rgba(255, 255, 255, .5);

}
.span2 {
    display: block;
    text-align: left;
    margin-top: 20px;
    margin-left: 30%;  
}
.img_porquinho2 {
    float: right;
    
}
.porquinho2 { 
    
    width: 40%;
    border: 2px solid blue;
    display: flex;
    margin-left: 30%;
    margin-top: 20px;  
    overflow: auto;
    zoom: 1; 
    }
.span3 {
    display: block;
    text-align: left;
    margin-top: 20px;
    margin-left: 30%;
}
.exemplo_melhor2 {
    width: 40%;
    border: 2px solid rgba(255, 255, 255, .5);
    background-color: black;
    color: azure;
    margin-left: 30%;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
}
.exemplo_melhor2 p {
    text-align: left;
}    
.botao {
    clear: both;
    margin-bottom: 30%;
}  
                   

                         /*  AREA DO RODAPE */
footer#rodape {
        background-color: rgb(74, 74, 74); 
        margin: 0px;       
        padding: 20px;
        color: rgba(0,0,0,1);
        text-shadow: 1px 1px 2px rgb(255,255,255);
        text-align: center;   
        font-size: 8pt;
        letter-spacing: 3px;    
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
        
    }
a.rodape2 {
        text-decoration: none;
        text-shadow: none;
        color: rgba(255, 255, 255, .5);
        background-image: none;      
        
    }
footer#rodape :hover {
        color: rgb(0, 0, 0);
        text-shadow: none;
    }
    