@charset "UTF8";
@import url('https://fonts.googleapis.com/css?family=Oswald:500'); 
                        /*  AREA DE TESTES */
     
                
 h1 {
      font-family: 'Oswald'sans-serif;
      font-size: 20pt;
      text-align: center;                            
      text-transform: uppercase;
      padding: 5px;
   }
 p {
     text-align: center;
    }

 body {
        margin-bottom: 120px;
      }
                    .container {
                         position: relative;
                         background-color: aquamarine;
                     }
                     nav {
                        position: absolute;
                        left: 0px;
                        width: 200px;
                        background-color: brown;
                     }
                    section {
                    /* position is static by default */
                     margin-left: 200px; 
                     background-color: blue;
                    }           
                       
                       





                         /*  AREA DO RODAPE */
footer#rodape {
        background-color: rgb(74, 74, 74); 
        margin: 0px;       
        padding: 30px;
        color: rgba(0,0,0,1);
        text-shadow: 1px 1px 2px rgb(255,255,255);
        text-align: center;   
        font-size: 8pt;
        letter-spacing: 3px;    
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
        text-align: none;
    }
a.rodape2 {
        text-decoration: none;
        text-shadow: none;
        color: rgba(255, 255, 255, .5);
        background-image: none;      
        
    }
footer#rodape :hover {
        color: rgb(0, 0, 0);
        text-shadow: none;
    }
    